body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    background-image: url("https://img.freepik.com/premium-vector/set-fabric-patterns-flat-vectors_203633-11588.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.main-box {
    background-color: rgba(255, 182, 193, 0.95);
    padding: 30px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: white;
    background-color: rgba(0, 102, 204, 0.9);
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 0;
}

label {
    font-size: 20px;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

input[type=file] {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0b7dda;
}
